<!-- App wide includes -->
{% include "player_app/page_includes.html" %}

<!-- Page container  -->
<div class="container-fluid">

    <!-- Header -->
    {% include "player_app/header.html" with app_name=app_name only %}

    <div>
        <div class="row justify-content-md-center">

            <div class="row player">
                <video controls width=100%></video>
            </div>

        </div>
    </div>

    <!-- Footer -->
    {% include "player_app/footer.html" with footer_text=footer_text only %}

</div>

<script type="text/javascript">
    (function () {

        // TODO: put your code here 
        var urlBase = "http://www.bok.net/dash/tears_of_steel/cleartext/$RepresentationID$/seg-$Number$.m4f";
        
        var mediaSource = null;
        var audioSourceBuffer = null;
        var videoSourceBuffer = null;

        var currentAudioFragmentIndex = 1;
        var currentVideoFragmentIndex = 1;

        var maxAudioFragmentIndex = 245;
        var maxVideoFragmentIndex = 245;

        function onFragmentDownloaded() {
            console.log(this.response);
        }

        function downloadFragment(url, callback) {
            var oReq = new XMLHttpRequest();
            oReq.addEventListener("load", function() {
                callback(this.response);
            });
            oReq.open("GET", url);
            oReq.responseType = "arraybuffer";
            oReq.send();
        }

        function setupMediaSource(videoElement, onMediaSourceOpen) {
            if ('MediaSource' in window) {
                // Create the media source
                mediaSource = new MediaSource();
                videoElement.src = URL.createObjectURL(mediaSource);

                // Setup open event handler
                mediaSource.addEventListener('sourceopen', onMediaSourceOpen);
            } else {
                console.error("MediaSource not available");
            }
        }

        function buildInitFragmentUrl(representationId) {
            var initUrl = urlBase;
            initUrl = initUrl.replace("$RepresentationID$", representationId);
            initUrl = initUrl.replace("seg-$Number$.m4f", "init.mp4");

            return initUrl;
        }

        function buildFragmentUrl(representationId, currentVideoFragmentIndex) {
            var fragmentUrl = urlBase;
            fragmentUrl = fragmentUrl.replace("$RepresentationID$", representationId);
            fragmentUrl = fragmentUrl.replace("$Number$", currentVideoFragmentIndex);

            return fragmentUrl;
        }

        function onVideoInitialized() {
            // Append the init fragment
            downloadFragment(buildInitFragmentUrl("video/1"), appendVideoFragment);
        }

        function onAudioInitialized() {
            // Append the init fragment
            downloadFragment(buildInitFragmentUrl("audio/en"), appendAudioFragment);
        }

        function createSourceBuffer(mediaSource, type, codec, onNextFragmentHandler, onInitializedHandler) {
            // Add source buffer
            sourceBuffer = mediaSource.addSourceBuffer(codec);
            console.log("Source buffer added - " + type);
            // Receive update end events so we know when to queue the next fragment
            sourceBuffer.addEventListener('updateend', onNextFragmentHandler);

            // Initialize
            onInitializedHandler();

            // Give back to the caller
            return sourceBuffer;
        }

        function onMediaSourceOpen() {
            console.log("MediaSource is open");

            mediaSource = this;

            // Add video source buffer
            var videoCodec = 'video/mp4; codecs="avc1.42C015"';
            videoSourceBuffer = createSourceBuffer(mediaSource, "video", videoCodec, onNextVideoFragment, onVideoInitialized);

            // Add audio source buffer
            var audioCodec = 'audio/mp4; codecs="mp4a.40.2"';
            audioSourceBuffer = createSourceBuffer(mediaSource, "audio", audioCodec, onNextAudioFragment, onAudioInitialized);
        }

        function appendFragment(type, sourceBuffer, fragmentBuffer) {
            // console.log(fragmentBuffer);
            if (fragmentBuffer) {
                console.log("Appending " + type + " fragment");
                sourceBuffer.appendBuffer(fragmentBuffer);
            }
        }

        function appendVideoFragment(fragmentBuffer) {
            appendFragment("video", videoSourceBuffer, fragmentBuffer);
        }

        function appendAudioFragment(fragmentBuffer) {
            appendFragment("audio", audioSourceBuffer, fragmentBuffer);
        }

        function downloadAndEnqueueNextFragment(type, representationId, currentIndex, appendHandler) {
            var fragmentUrl = buildFragmentUrl(representationId, currentIndex);

            console.log("Downloading " + type + " fragment " + currentIndex);

            downloadFragment(fragmentUrl, appendHandler);
        }

        function onNextVideoFragment() {
            if (maxAudioFragmentIndex === currentVideoFragmentIndex) {
                console.warn("Downloaded all video fragments");
                return;
            }
            downloadAndEnqueueNextFragment("video", "video/1", currentVideoFragmentIndex, appendVideoFragment);
            currentVideoFragmentIndex++;
        }

        function onNextAudioFragment() {
            if (maxAudioFragmentIndex === currentAudioFragmentIndex) {
                console.warn("Downloaded all audio fragments");
                return;
            }
            downloadAndEnqueueNextFragment("audio", "audio/en", currentAudioFragmentIndex, appendAudioFragment);
            currentAudioFragmentIndex++;
        }

        var videoElement = document.querySelector('video');
        setupMediaSource(videoElement, onMediaSourceOpen);

    })();

</script>