{% load static %}

<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>

<div>

    <h2> {{ title }} </h2>

    <!-- dash streaming player -->
    <!-- <video data-dashjs-player autoplay src="http://amssamples.streaming.mediaservices.windows.net/683f7e47-bd83-4427-b0a3-26a6c4547782/BigBuckBunny.ism/manifest(format=mpd-time-csf)" controls></video> -->

    <!-- static video -->
    <!-- <video controls autoplay src="https://github.com/bower-media-samples/big-buck-bunny-1080p-30s/blob/master/video.mp4?raw=true" type="video/mp4"></video> -->

</div>