<!-- App wide includes -->
{% include "player_app/page_includes.html" %}

<!-- Page container  -->
<div class="container-fluid">

    <!-- Header -->
    {% include "player_app/header.html" with app_name=app_name only %}

    <div>
        <div class="row justify-content-md-center">

            <div class="row player">
                <video controls width=100%></video>
            </div>

        </div>
    </div>

    <!-- Footer -->
    {% include "player_app/footer.html" with footer_text=footer_text only %}

</div>

<script type="text/javascript">
    (function () {

        // TODO: put your code here 
        var urlBase = "http://www.bok.net/dash/tears_of_steel/cleartext/$RepresentationID$/seg-$Number$.m4f";
        
        var mediaSource = null;
        var videoSourceBuffer = null;

        var currentVideoFragmentIndex = 1;

        function onFragmentDownloaded() {
            console.log(this.response);
        }

        function downloadFragment(url, callback) {
            var oReq = new XMLHttpRequest();
            oReq.addEventListener("load", function() {
                callback(this.response);
            });
            oReq.open("GET", url);
            oReq.responseType = "arraybuffer";
            oReq.send();
        }

        function setupMediaSource(videoElement, onMediaSourceOpen) {
            if ('MediaSource' in window) {
                // Create the media source
                mediaSource = new MediaSource();
                videoElement.src = URL.createObjectURL(mediaSource);

                // Setup open event handler
                mediaSource.addEventListener('sourceopen', onMediaSourceOpen);
            } else {
                console.error("MediaSource not available");
            }
        }

        function onVideoInitialized() {
            // Start downloading and feeding fragments 

            var initUrl = urlBase;
            initUrl = initUrl.replace("$RepresentationID$", "video/1");
            initUrl = initUrl.replace("seg-$Number$.m4f", "init.mp4");
            downloadFragment(initUrl, appendVideoFragment);
        }

        function onMediaSourceOpen() {
            console.log("MediaSource is open");

            mediaSource = this;

            // Add video source buffer
            var videoCodec = 'video/mp4; codecs="avc1.42C015"';
            videoSourceBuffer = mediaSource.addSourceBuffer(videoCodec);
            console.log("Video source buffer added");
            // Receive update end events so we know when to queue the next fragment
            videoSourceBuffer.addEventListener('updateend', onNextVideoFragment);

            onVideoInitialized();
        }

        function appendVideoFragment(fragmentBuffer) {
            console.log(fragmentBuffer);

            if (fragmentBuffer) {
                console.log("Appending video fragment");
                videoSourceBuffer.appendBuffer(fragmentBuffer);
            }
        }

        function onNextVideoFragment() {
            var fragmentUrl = urlBase;
            fragmentUrl = fragmentUrl.replace("$RepresentationID$", "video/1");
            fragmentUrl = fragmentUrl.replace("$Number$", currentVideoFragmentIndex);

            console.log("Downloading video fragment " + currentVideoFragmentIndex);
            currentVideoFragmentIndex++;
            
            downloadFragment(fragmentUrl, appendVideoFragment);
        }

        var videoElement = document.querySelector('video');
        setupMediaSource(videoElement, onMediaSourceOpen);

    })();

</script>