/* Layout */
.list-inline {
  white-space:nowrap;
}

/* Cards */
.card-list
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:200px;
    width:100%;
    padding: 0 15px;
    margin-top:10px;
}

.card-item
{
    padding:0;
    width:125px;
    height:175px;
}

.card-section
{
    margin-top:20px;
}

.card-img 
{
    width:125px;
    height:175px;
}